<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyle.css">
    <title>Index page</title>
</head>
<body>
    <h1 class="redText">Hello world</h1>
    <ul>
        <li><a href="/register">New user</a></li>
    </ul>
    <img src="mypic.jpg" width="150" height="150"/>
    <hr>
   <p style="color: red;">{{ngay}}</p> 
</body>
</html>