<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register page</h1>
    <form action="/register" method="post">
        Name <input type="text" name="txtName" value="{{name}}"> <span style="color: red;">{{errorName}}</span> 
        <br>
        Role <select name="txtRole">
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
            <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>